<!DOCTYPE html>
{% extends "UserAPP/base.html" %}
  {% block body_block %}
    <div class="jumbotron">
        <h1> Please Login !</h1>
      <form action="{% url 'userapp:user_login' %}" method="POST">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Enter username">
          <label for="password">Password:</label>
          <input type="password" name="password">
          <input type="submit" class="btn btn-primary" value="Login">
       </form>
    </div>
  {% endblock %}
